{% extends 'base.html' %}


{% block content %}

<div class="container-fuild mx-5 my-5">
    <div class="row     ">

        {% for post in post_list %}

        <div class="col-10 ">

            <div class="card   my-3  ">
                <div class="card-header d-flex justify-between">
                   <h5> {{post.user}}</h5>
                 
                </div>
                <div class="card-body">
                    <h5 class="card-title"> {{post.name}} </h5>
                    <p class="card-text"> {{post.text_content}} </p>
                    
                    {% if True %}
                    <a href="#" class="btn btn-secondary mx-3 my-2">Following</a>
                    {% else %}
                    <a href="#" class="btn btn-primary mx-3 my-2">Follow</a>
                    {% endif %}

                    <a href="#" class="btn btn-primary mx-3 my-2">Like  </a>
                    <a href="#" class="btn btn-primary mx-3 my-2">Comment</a>
                </div>
            </div>

        </div>


        {% endfor %}

    </div>
</div>


{% endblock %}